<h1><%= name%></h1>
<%= form_for(@articles) do |f| %> 
  <% @articles.errors.full_messages.each do |message| %>
    <div>
      *<%= message%>
    </div>
  <%end%>
  <div>
    <%=  f.text_field :title, placeholder: "titulo",class: "form-control" %>
  </div>
  <br>
  <div>
    <%= f.text_area :body, placeholder: "Escribe aqui el articulo", class: "form-control", style:"height:70px;" %>
  </div>
  <%= f.submit "guardar", class: "btn" %>
<% end %> 